<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>T</key>
    <dict>
      <key>eight</key>
      <integer>-5</integer>
      <key>eight.OP</key>
      <integer>-5</integer>
      <key>eth</key>
      <integer>-20</integer>
      <key>five.OP</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-30</integer>
      <key>four.OP</key>
      <integer>-20</integer>
      <key>germandbls</key>
      <integer>-20</integer>
      <key>nine.OP</key>
      <integer>-25</integer>
      <key>one.OP</key>
      <integer>-30</integer>
      <key>seven.OP</key>
      <integer>-20</integer>
      <key>three.OP</key>
      <integer>-25</integer>
      <key>two.OP</key>
      <integer>-35</integer>
    </dict>
    <key>eight.OP</key>
    <dict>
      <key>seven.OP</key>
      <integer>-10</integer>
    </dict>
    <key>four.OP</key>
    <dict>
      <key>seven.OP</key>
      <integer>-15</integer>
      <key>two.OP</key>
      <integer>-10</integer>
    </dict>
    <key>seven.OP</key>
    <dict>
      <key>eight.OP</key>
      <integer>-10</integer>
      <key>four.OP</key>
      <integer>-20</integer>
      <key>nine.OP</key>
      <integer>-10</integer>
      <key>two.OP</key>
      <integer>-10</integer>
      <key>zero.OP</key>
      <integer>-15</integer>
    </dict>
    <key>six.OP</key>
    <dict>
      <key>seven.OP</key>
      <integer>-15</integer>
    </dict>
    <key>squareuplefttolowrightfill</key>
    <dict>
      <key>squareuplefttolowrightfill</key>
      <integer>-143</integer>
    </dict>
    <key>squareuprighttolowleftfill</key>
    <dict>
      <key>squareuprighttolowleftfill</key>
      <integer>-143</integer>
    </dict>
    <key>two.OP</key>
    <dict>
      <key>four.OP</key>
      <integer>-10</integer>
    </dict>
    <key>uni0411</key>
    <dict>
      <key>uni0416.3</key>
      <integer>-10</integer>
      <key>uni0423</key>
      <integer>-10</integer>
      <key>uni0427</key>
      <integer>-10</integer>
      <key>uni042A</key>
      <integer>-10</integer>
      <key>uni042D.3</key>
      <integer>-10</integer>
      <key>uni0442</key>
      <integer>-20</integer>
    </dict>
    <key>uni0412</key>
    <dict>
      <key>uni042A</key>
      <integer>-20</integer>
    </dict>
    <key>uni0416</key>
    <dict>
      <key>uni042A</key>
      <integer>30</integer>
    </dict>
    <key>uni0417</key>
    <dict>
      <key>uni0427</key>
      <integer>-10</integer>
    </dict>
    <key>uni0423</key>
    <dict>
      <key>uni041B</key>
      <integer>-30</integer>
      <key>uni0424</key>
      <integer>-15</integer>
      <key>uni042A</key>
      <integer>10</integer>
      <key>uni042F</key>
      <integer>-10</integer>
      <key>uni0431</key>
      <integer>-10</integer>
      <key>uni0434</key>
      <integer>-40</integer>
      <key>uni0437</key>
      <integer>-5</integer>
      <key>uni043B</key>
      <integer>-50</integer>
      <key>uni044F</key>
      <integer>-20</integer>
    </dict>
    <key>uni0424</key>
    <dict>
      <key>uni041B</key>
      <integer>-40</integer>
      <key>uni0423</key>
      <integer>-10</integer>
      <key>uni042A</key>
      <integer>-20</integer>
      <key>uni042D.3</key>
      <integer>-40</integer>
      <key>uni042F</key>
      <integer>-10</integer>
      <key>uni0434</key>
      <integer>-10</integer>
      <key>uni043B</key>
      <integer>-10</integer>
      <key>uni044F</key>
      <integer>-10</integer>
    </dict>
    <key>uni042D.3</key>
    <dict>
      <key>uni041B</key>
      <integer>-20</integer>
      <key>uni0423</key>
      <integer>-30</integer>
      <key>uni042D.3</key>
      <integer>-20</integer>
      <key>uni0434</key>
      <integer>-10</integer>
      <key>uni043B</key>
      <integer>-10</integer>
      <key>uni0442</key>
      <integer>-10</integer>
    </dict>
    <key>uni0442</key>
    <dict>
      <key>uni0434</key>
      <integer>-15</integer>
      <key>uni043B</key>
      <integer>-10</integer>
      <key>uni0442</key>
      <integer>10</integer>
      <key>uni044A</key>
      <integer>15</integer>
      <key>uni044F</key>
      <integer>-10</integer>
    </dict>
    <key>zero.OP</key>
    <dict>
      <key>seven.OP</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
